USE [master]
GO
/****** Object:  Database [SeguridadBD]    Script Date: 22/08/2022 19:07:19 ******/
CREATE DATABASE [SeguridadBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SeguridadBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SeguridadBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SeguridadBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SeguridadBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SeguridadBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SeguridadBD]
GO
/****** Object:  Table [dbo].[TUSR_PERFILES]    Script Date: 22/08/2022 19:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUSR_PERFILES](
	[TN_Perfil] [int] NOT NULL,
	[TC_NomPerfil] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TUSR_PERFILES] PRIMARY KEY CLUSTERED 
(
	[TN_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUSR_USUARIOS]    Script Date: 22/08/2022 19:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUSR_USUARIOS](
	[TC_Usuario] [varchar](40) NOT NULL,
	[TC_Contrasena] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TUSR_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[TC_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YUSR_PERFILESXUSUARIO]    Script Date: 22/08/2022 19:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YUSR_PERFILESXUSUARIO](
	[TN_Perfil] [int] NOT NULL,
	[TC_Usuario] [varchar](40) NOT NULL,
 CONSTRAINT [PK_YUSR_PERFILESXUSUARIO] PRIMARY KEY CLUSTERED 
(
	[TN_Perfil] ASC,
	[TC_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[YUSR_PERFILESXUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_YUSR_PERFILESXUSUARIO_TUSR_PERFILES] FOREIGN KEY([TN_Perfil])
REFERENCES [dbo].[TUSR_PERFILES] ([TN_Perfil])
GO
ALTER TABLE [dbo].[YUSR_PERFILESXUSUARIO] CHECK CONSTRAINT [FK_YUSR_PERFILESXUSUARIO_TUSR_PERFILES]
GO
ALTER TABLE [dbo].[YUSR_PERFILESXUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_YUSR_PERFILESXUSUARIO_TUSR_USUARIOS] FOREIGN KEY([TC_Usuario])
REFERENCES [dbo].[TUSR_USUARIOS] ([TC_Usuario])
GO
ALTER TABLE [dbo].[YUSR_PERFILESXUSUARIO] CHECK CONSTRAINT [FK_YUSR_PERFILESXUSUARIO_TUSR_USUARIOS]
GO
USE [master]
GO
