USE [master]
GO
/****** Object:  Database [veterinariaBD]    Script Date: 22/08/2022 19:07:57 ******/
CREATE DATABASE [veterinariaBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'veterinariaBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\veterinariaBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'veterinariaBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\veterinariaBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [veterinariaBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [veterinariaBD]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[NumeroCita] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NULL,
	[IDMascota] [int] NULL,
	[FechaCita] [date] NULL,
 CONSTRAINT [PK_Citas] PRIMARY KEY CLUSTERED 
(
	[NumeroCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCliente] [int] NOT NULL,
	[Nombre] [varchar](12) NULL,
	[PrimerApellido] [varchar](12) NULL,
	[SegundoApellido] [varchar](12) NULL,
	[Telefono] [numeric](18, 0) NULL,
	[CorreoElectronico] [varchar](50) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnósticos]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnósticos](
	[IDDiagnostico] [int] NOT NULL,
	[DescripcionDiagnostico] [varchar](100) NULL,
	[NumeroCita] [int] NULL,
 CONSTRAINT [PK_Diagnósticos] PRIMARY KEY CLUSTERED 
(
	[IDDiagnostico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturacion]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturacion](
	[NumeroFactura] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[NumeroCita] [int] NULL,
	[NombreCliente] [varchar](12) NULL,
	[NombreMascota] [varchar](12) NULL,
	[FechaCita] [date] NULL,
	[IdServicio] [int] NULL,
 CONSTRAINT [PK_Facturacion] PRIMARY KEY CLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[NombreUsuario] [varchar](12) NULL,
	[Contraseña] [varchar](18) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mascotas]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascotas](
	[IDMascota] [int] NOT NULL,
	[Nombre] [varchar](12) NULL,
	[IdCliente] [int] NULL,
 CONSTRAINT [PK_Mascotas] PRIMARY KEY CLUSTERED 
(
	[IDMascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[IDServicio] [int] NOT NULL,
	[IDCliente] [int] NULL,
	[NombreCliente] [varchar](12) NULL,
	[NombreMascota] [varchar](12) NULL,
	[Descripcion] [varchar](100) NULL,
	[NumeroCita] [int] NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[IDServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUSR_PERFILES]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUSR_PERFILES](
	[TN_Perfil] [int] NOT NULL,
	[TC_NomPerfil] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TUSR_PERFILES] PRIMARY KEY CLUSTERED 
(
	[TN_Perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TUSR_USUARIOS]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUSR_USUARIOS](
	[TC_Usuario] [varchar](40) NOT NULL,
	[TC_Contrasena] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TUSR_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[TC_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YUSR_PERFILESXUSUARIO]    Script Date: 22/08/2022 19:07:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YUSR_PERFILESXUSUARIO](
	[TN_Perfil] [int] NOT NULL,
	[TC_Usuario] [varchar](40) NOT NULL,
 CONSTRAINT [PK_YUSR_PERFILESXUSUARIO] PRIMARY KEY CLUSTERED 
(
	[TN_Perfil] ASC,
	[TC_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Clientes] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Clientes]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Mascotas] FOREIGN KEY([IDMascota])
REFERENCES [dbo].[Mascotas] ([IDMascota])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Mascotas]
GO
ALTER TABLE [dbo].[Facturacion]  WITH CHECK ADD  CONSTRAINT [FK_Facturacion_Servicios] FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicios] ([IDServicio])
GO
ALTER TABLE [dbo].[Facturacion] CHECK CONSTRAINT [FK_Facturacion_Servicios]
GO
ALTER TABLE [dbo].[YUSR_PERFILESXUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_YUSR_PERFILESXUSUARIO_TUSR_PERFILES] FOREIGN KEY([TN_Perfil])
REFERENCES [dbo].[TUSR_PERFILES] ([TN_Perfil])
GO
ALTER TABLE [dbo].[YUSR_PERFILESXUSUARIO] CHECK CONSTRAINT [FK_YUSR_PERFILESXUSUARIO_TUSR_PERFILES]
GO
ALTER TABLE [dbo].[YUSR_PERFILESXUSUARIO]  WITH CHECK ADD  CONSTRAINT [FK_YUSR_PERFILESXUSUARIO_TUSR_USUARIOS] FOREIGN KEY([TC_Usuario])
REFERENCES [dbo].[TUSR_USUARIOS] ([TC_Usuario])
GO
ALTER TABLE [dbo].[YUSR_PERFILESXUSUARIO] CHECK CONSTRAINT [FK_YUSR_PERFILESXUSUARIO_TUSR_USUARIOS]
GO
USE [master]
GO
