@{
    ViewBag.Title = "Nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>
    <strong>Best for pet:</strong> 
    Somos la solucion integral a las necesidades de salud y cuido  de tus mascotas.
   
</h3>


<h4>
    Somos un equipo de profesionales apasionados con nuestro trabajo, y nos capacitamos constantemente para brindarles un servicio de excelente calidad a todas las mascotas que nos visitan a Instalaciones creadas exclusivamente para la atención óptima de tu mascota.
</h4>



<h3>
    <strong>Nuestros valores:</strong>
    <address>
        <strong>Responsabilidad, Honestidad, Tecnologia, Profesionalismo. </strong>
        
    </address>

</h3>




