@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Direccion:</strong> Grecia, Alajuela.<br />
    del parque de Grecia, 150 metros al sur.<br />
    <strong>Telefono:</strong>
    2494-5544.
    <strong>WhatssApp:</strong>
    6325-5879.<br />
    <strong>Horario:</strong><br />
    Lunes a Sabado. <br/>
    9 am - 7 pm. <br />
    Domingo <br />
    9 am - 4 pm.
</address>

<address>
    <strong>Citas:</strong>   <a href="AdrianBaca12@gmail.com">Nadrianbaca95@gmail.com</a><br />
    <strong>Consultas:</strong> <a href="OscarArias12@gmail.com">OscarArias12@gmail.com</a>
</address>