@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Veterinaria lo mejor para mascotas.</h1>
    <p class="lead">
        ¿ Por qué una Clínica
        especializada para animales ?
    </p>
    <p class="lead">
        Los animales son especies totalmente diferentes entre ellos, son muy sensibles a los cambios de ambiente, a los ruidos, olores fuertes, altamente sensibles al estrés y son muy territoriales. Ellos prefieren lugares tranquilos y silenciosos.


        Además requieren un manejo gentil y amigable.



        Es por ello que contamos con una clínica exclusiva para gatos que consta de: un área de espera, una tienda especializada, un consultorio y un área de internamiento única y exclusivamente para ellos.
    </p>
    <p><a href="https://www.bestforpetscr.com/" class="btn btn-primary btn-lg">Conocer más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h3>HOSPEDAJE ESPECIALIZADO PARA PERROS Y GATOS</h3>
        <p>
            En Lo mejor para mascotas ofrecemos un servicio de guardería especializado en el cual su mascota se sentirá como en casa. Contando con supervisión veterinaria las 24 horas del día y sesiones de juego.
        </p>
        <p><a class="btn btn-primary btn-lg" href="https://www.bestforpetscr.com/hospedaje">Ver precios de hospedaje &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>BLOG</h2>
        <p>En este espacio compartiremos artículos, casos clínicos, temas de interés y noticias.</p>
        <p><a class="btn btn-primary btn-lg" href="https://www.bestforpetscr.com/blogbestforpets">Ir a Blog &raquo;</a></p>
    </div>

</div>